<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>My App</title>
        <base href="/">
    </head>
    
    <body>
        
        <app-root>Loading...</app-root>

        <script>window.module = 'aot';</script> <!-- workaround for module.id -->
        <script src="app.bundle.min.js"></script>

    </body>

</html>